ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  border-left: 1px solid white;
}

li a {
  display: block;
  color: #BF5700;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover:not(.active) {
  background-color: #111;
}

li:last-child {
	border-left: none;
}
.active {
  background-color: #Bf5700;
  color:white;
}
.banner {
  position: relative;
  text-align: center;
  color: white;
}
.credit {
	position:absolute;
	top:80%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size: 50px;
}
body {
	background-color:black;
	color:white;
}
/* Dear God please work. */